{% extends 'Base.html' %}

{% set title = 'Редактирование новостей' %}

{% block content %}

    <table>
        <caption><H2>Новости</H2></caption>
        <tr>
            <th>Заголовок</th>
            <th>Новость</th>
            <th>Имя и фамилия автора</th>
        </tr>

        {% for article in news %}

            <tr>
                <td><a href="/index/one/{{ article[0] }}">{{ article[1] }}</a>
                </td>
                <td>{{ article[2] }}</td>
                <td>
                    {{ article[3] }}
                </td>
                <td><a href="/admin/edit/{{ article[4] }}">Редактировать</a></td>
                <td>&nbsp;</td>
                <td><a href="/admin/delete/{{ article[5] }}">Удалить</a></td>
            </tr>

        {% endfor %}

    </table>

{% endblock %}