{% extends 'Base.html' %}

{% set title = 'Редактирование новостей' %}

{% block content %}

    <table>
        <caption><H2>Новости</H2></caption>
        <tr>
            <th>Заголовок</th>
            <th>Новость</th>
            <th>Имя и фамилия автора</th>
        </tr>

        {% for row in adminNewsTable %}

            <tr>
                {% for cell in row %}
                    <td>

                        {{ cell | raw }}

                    </td>
                {% endfor %}
            </tr>

        {% endfor %}

    </table>

{% endblock %}