{% extends 'Base.html' %}

{% block title %}Первое задание{% endblock %}

{% block content %}

    <div class="container">
        <div class="row well">
            Дана таблица в базе MySQL с полями:
            <ul>
                <li>id  - ключ</li>
                <li>name - имя</li>
                <li>parent - ссылка на id родителя</li>
            </ul>
            Данную таблицу нужно заполнить рандомными значениями, но так, чтобы получилось дерево с несколькими (от 0 до 5) уровнями вложенности.
            Реализовать алгоритм, выводящий это дерево.
        </div>
        <div class="row">
            <div class="col-md-6">

                {% if treeTable is not empty %}
                    <div class="container-fluid">
                        <table class="table">
                            <caption>Талица</caption>
                            <tr>
                                <th>id</th>
                                <th>name</th>
                                <th>parent</th>
                            </tr>
                            {% for leaf in treeTable %}

                                <tr>
                                    <td>{{ leaf.id }}</td>
                                    <td>{{ leaf.name }}</td>
                                    <td>{{ leaf.parent }}</td>
                                </tr>

                            {% endfor %}
                        </table>
                    </div>
                {% endif %}

            </div>
            <div class="col-md-6">
                {% if leaves is not empty %}
                    <div class="container-fluid">
                        <table class="table">
                            <caption>Дерево</caption>
                            <tr>
                                <th>Родитель</th>
                                <th>Потомок 1</th>
                                <th>Потомок 2</th>
                                <th>Потомок 3</th>
                                <th>Потомок 4</th>
                                <th>Потомок 5</th>
                            </tr>
                            {% for root in leaves %}

                                <tr>
                                    <td>{{ root.name }}</td>
                                </tr>

                                {% if root.children is not empty %}
                                    {% for child_1 in root.children %}

                                        <tr>
                                            <td></td>
                                            <td>--> {{ child_1.name }}</td>
                                        </tr>

                                        {% if child_1.children is not empty %}
                                            {% for child_2 in child_1.children %}

                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td>--> {{ child_2.name }}</td>
                                                </tr>

                                                {% if child_2.children is not empty %}
                                                    {% for child_3 in child_2.children %}

                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>--> {{ child_3.name }}</td>
                                                        </tr>

                                                        {% if child_3.children is not empty %}
                                                            {% for child_4 in child_3.children %}

                                                                <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td>--> {{ child_4.name }}</td>
                                                                </tr>

                                                                {% if child_4.children is not empty %}
                                                                    {% for child_5 in child_4.children %}

                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td>--> {{ child_5.name }}</td>
                                                                            {% if child_5.children is not empty %}
                                                                                <td>---></td>
                                                                            {% endif %}
                                                                        </tr>

                                                                    {% endfor %}
                                                                {% endif %}

                                                            {% endfor %}
                                                        {% endif %}

                                                    {% endfor %}
                                                {% endif %}

                                            {% endfor %}
                                        {% endif %}

                                    {% endfor %}
                                {% endif %}

                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}